
<table class="naf4-grid">
  <thead>
    <tr>
      <th class="invisible"></th>
      <th>
        <a href="/category/taxonomy">Taxonomy</a>
      </th>
      <th>
        <a href="/category/structure">Structure</a>
      </th>
      <th>
        <a href="/category/connectivity">Connectivity</a>
      </th>
      <th>
        <a href="/category/processes">Processes</a>
      </th>
      <th>
        <a href="/category/states">States</a>
      </th>
      <th>
        <a href="/category/sequences">Sequences</a>
      </th>
      <th>
        <a href="/category/information">Information</a>
      </th>
      <th>
        <a href="/category/constraints">Constraints</a>
      </th>
      <th>
        <a href="/category/roadmap">Roadmap</a>
      </th>
    </tr>
  </thead>
  <tbody>


    <!-- Architecture -->

    <tr class="viewpoint architecture tooBright">
      <td class="label label-architecture">Architecture
        <br /><small>Management</small>
      </td>
      <td>
        <a href="a1">A<sub>1</sub>
      <div class="mk__viewTitle">Meta-Data Definitions</div>
      <div class="mk__legacyCodes">NAV-3<br/>AV-1/2</div>
    </a>
      </td>
      <td>
        <a href="a2">A<sub>2</sub>
      <div class="mk__viewTitle">Architecture Products</div>
      <div class="mk__legacyCodes"></div>
    </a>
      </td>
      <td>
        <a href="a3">A<sub>3</sub>
      <div class="mk__viewTitle">Architecture <small>Correspondence</small></div>
      <div class="mk__legacyCodes">ISO42010</div>
    </a>
      </td>
      <td>
        <a href="a4">A<sub>4</sub>
      <div class="mk__viewTitle">Methodology Used</div>
      <div class="mk__legacyCodes">NAF Ch2</div>
    </a>
      </td>
      <td>
        <a href="a5">A<sub>5</sub>
      <div class="mk__viewTitle">Architecture Status</div>
      <div class="mk__legacyCodes">NAV-1<br/>AV-1</div>
    </a>
      </td>
      <td>
        <a href="a6">A<sub>6</sub>
      <div class="mk__viewTitle">Architecture Versions</div>
      <div class="mk__legacyCodes">NAV-1<br/>AV-1</div>
    </a>
      </td>
      <td>
        <a href="a7">A<sub>7</sub>
      <div class="mk__viewTitle">Architecture Meta-Data</div>
      <div class="mk__legacyCodes">NAV-1/3<br/>AV-1</div>
    </a>
      </td>
      <td>
        <a href="a8">A<sub>8</sub>
      <div class="mk__viewTitle">Standards</div>
      <div class="mk__legacyCodes">NTV-1/2<br/>TV-1/2</div>
    </a>
      </td>
      <td>
        <a href="ar">A<sub>r</sub>
      <div class="mk__viewTitle">Architecture Roadmap</div>
      <div class="mk__legacyCodes"></div>
    </a>
      </td>
    </tr>

  </tbody>
</table>
