
<table class="naf4-grid">
  <thead>
    <tr>
      <th class="invisible"></th>
      <th>
        <a href="/category/taxonomy">Taxonomy</a>
      </th>
      <th>
        <a href="/category/structure">Structure</a>
      </th>
      <th>
        <a href="/category/connectivity">Connectivity</a>
      </th>
      <th>
        <a href="/category/processes">Processes</a>
      </th>
      <th>
        <a href="/category/states">States</a>
      </th>
      <th>
        <a href="/category/sequences">Sequences</a>
      </th>
      <th>
        <a href="/category/information">Information</a>
      </th>
      <th>
        <a href="/category/constraints">Constraints</a>
      </th>
      <th>
        <a href="/category/roadmap">Roadmap</a>
      </th>
    </tr>
  </thead>
  <tbody>
    
    <!-- Concepts -->

    <tr class="viewpoint concept">
      <td class="label label-concept">Concepts</td>
      <td>
        <a href="c1">C<suffix>1</suffix>
      <div class="mk__viewTitle">Capability Taxonomy</div>
      <div class="mk__legacyCodes">NAV-2, NCV-2<br/>AV-2, StV-2</div>
    </a>
      </td>
      <td>
        <a href="c2">C<suffix>2</suffix>
      <div class="mk__viewTitle">Enterprise Vision</div>
      <div class="mk__legacyCodes">NCV-1<br/>StV-1</div>
    </a>
      </td>
      <td>
        <a href="c3">C<suffix>3</suffix>
      <div class="mk__viewTitle">Capability Dependencies</div>
      <div class="mk__legacyCodes">NCV-4<br/>StV-4</div>
    </a>
      </td>
      <td>
        <a href="c4">C<suffix>4</suffix>
      <div class="mk__viewTitle">Standard Processes</div>
      <div class="mk__legacyCodes">NCV-6<br/>StV-6</div>
    </a>
      </td>
      <td>
        <a href="c5">C<suffix>5</suffix>
      <div class="mk__viewTitle">Effects</div>
      <div class="mk__legacyCodes"></div>
    </a>
      </td>
      <td class="notmodelkind"></td>
      <td>
        <a href="c7">C<suffix>7</suffix>
      <div class="mk__viewTitle">Performance Parameters</div>
      <div class="mk__legacyCodes">NCV-1<br/>StV-1</div>
    </a>
      </td>
      <td>
        <a href="c8">C<suffix>8</suffix>
      <div class="mk__viewTitle">Planning Assumptions</div>
      <div class="mk__legacyCodes"></div>
    </a>
      </td>
      <td>
        <a href="cr">C<suffix>r</suffix>
      <div class="mk__viewTitle">Capability Roadmap</div>
      <div class="mk__legacyCodes">NCV-3<br/>StV-3</div>
    </a>
      </td>
    </tr>


  </tbody>
</table>

