
<table class="naf4-grid">
  <thead>
    <tr>
      <th class="invisible"></th>
      <th>
        <a href="/category/taxonomy">Taxonomy</a>
      </th>
      <th>
        <a href="/category/structure">Structure</a>
      </th>
      <th>
        <a href="/category/connectivity">Connectivity</a>
      </th>
      <th>
        <a href="/category/processes">Processes</a>
      </th>
      <th>
        <a href="/category/states">States</a>
      </th>
      <th>
        <a href="/category/sequences">Sequences</a>
      </th>
      <th>
        <a href="/category/information">Information</a>
      </th>
      <th>
        <a href="/category/constraints">Constraints</a>
      </th>
      <th>
        <a href="/category/roadmap">Roadmap</a>
      </th>
    </tr>
  </thead>
  <tbody>
    

    <!-- Logical -->

    <tr class="viewpoint logical">
      <td class="label label-logical">Logical
        <br /><small>Specifications</small></td>
      <td>
        <a href="l1">L<suffix>1</suffix>
      <div class="mk__viewTitle">Node Types</div>
      <div class="mk__legacyCodes">NAV-2<br/>AV-2</div>
    </a>
      </td>
      <td>
        <a href="l2">L<suffix>2</suffix>
      <div class="mk__viewTitle">Logical Scenario</div>
      <div class="mk__legacyCodes">NOV-2<br/>OV-2</div>
    </a>
      </td>
      <td>
        <a href="l3">L<suffix>3</suffix>
      <div class="mk__viewTitle">Node Interactions</div>
      <div class="mk__legacyCodes">NOV-2, NOV-3<br/>OV-2,OV-3</div>
    </a>
      </td>
      <td>
        <a href="l4">L<suffix>4</suffix>
      <div class="mk__viewTitle">Logical Activities</div>
      <div class="mk__legacyCodes">NOV-5<br/>OV-5</div>
    </a>
      </td>
      <td>
        <a href="l5">L<suffix>5</suffix>
      <div class="mk__viewTitle">Logical States</div>
      <div class="mk__legacyCodes">NOV-6b<br/>OV-6b</div>
    </a>
      </td>
      <td>
        <a href="l6">L<suffix>6</suffix>
      <div class="mk__viewTitle">Logical Sequence</div>
      <div class="mk__legacyCodes">NOV-6c<br/>OV-6c</div>
    </a>
      </td>
      <td>
        <a href="l7">L<suffix>7</suffix>
      <div class="mk__viewTitle">Logical Data Model</div>
      <div class="mk__legacyCodes">NSV-11a<br/>OV-7</div>
    </a>
      </td>
      <td>
        <a href="l8">L<suffix>8</suffix>
      <div class="mk__viewTitle">Logical Constraints</div>
      <div class="mk__legacyCodes">NOV-6a<br/>OV-6a</div>
    </a>
      </td>
      <td>
        <a href="lr">L<suffix>r</suffix>
      <div class="mk__viewTitle">Lines of Development</div>
      <div class="mk__legacyCodes">NPV-2<br/>AcV-2</div>
    </a>
      </td>
    </tr>




  </tbody>
</table>

