<table class="naf4-grid">
  <thead>
    <tr>
      <th class="invisible"></th>
      <th>
        <a href="/category/taxonomy">Taxonomy</a>
      </th>
      <th>
        <a href="/category/structure">Structure</a>
      </th>
      <th>
        <a href="/category/connectivity">Connectivity</a>
      </th>
      <th>
        <a href="/category/processes">Processes</a>
      </th>
      <th>
        <a href="/category/states">States</a>
      </th>
      <th>
        <a href="/category/sequences">Sequences</a>
      </th>
      <th>
        <a href="/category/information">Information</a>
      </th>
      <th>
        <a href="/category/constraints">Constraints</a>
      </th>
      <th>
        <a href="/category/roadmap">Roadmap</a>
      </th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <p class="connector label-physical"><a href="l4-p1">L4-P4 (NSV-5)</a></p>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>


    <!-- Physical -->

    <tr class="viewpoint physical">
      <td class="label label-physical">Physical
        <br />Resource
        <br /><small>Specifications</small></td>
      <td>
        <a href="p1">P<sub>1</sub>
      <div class="mk__viewTitle">Resource Types</div>
      <div class="mk__legacyCodes">NAV-2, NSV-2a,7,9,12<br/>AV-2, SV-2a,7,9,12</div>
    </a>
      </td>
      <td>
        <a href="p2">P<sub>2</sub>
      <div class="mk__viewTitle">Resource Structure</div>
      <div class="mk__legacyCodes">NOV-4,NSV-1<br/>OV-4, SV-1</div>
    </a>
      </td>
      <td>
        <a href="p3">P<sub>3</sub>
      <div class="mk__viewTitle">Resource Connectivity</div>
      <div class="mk__legacyCodes">NSV-2, NSV-6<br/>SV-2, SV-6</div>
    </a>
      </td>
      <td>
        <a href="p4">P<sub>4</sub>
      <div class="mk__viewTitle">Resource Functions</div>
      <div class="mk__legacyCodes">NSV-4<br/>SV-4</div>
    </a>
      </td>
      <td>
        <a href="p5">P<sub>5</sub>
      <div class="mk__viewTitle">Resource States</div>
      <div class="mk__legacyCodes">NSV-10b<br/>SV-10b</div>
    </a>
      </td>
      <td>
        <a href="p6">P<sub>6</sub>
      <div class="mk__viewTitle">Resource Sequence</div>
      <div class="mk__legacyCodes">NSV-10c<br/>SV-10c</div>
    </a>
      </td>
      <td>
        <a href="p7">P<sub>7</sub>
      <div class="mk__viewTitle">Physical Data Model</div>
      <div class="mk__legacyCodes">NSV-11b<br/>SV-11</div>
    </a>
      </td>
      <td>
        <a href="p8">P<sub>8</sub>
      <div class="mk__viewTitle">Resource Constraints</div>
      <div class="mk__legacyCodes">NSV-10a<br/>SV-10a</div>
    </a>
      </td>
      <td>
        <a href="pr">P<sub>r</sub>
      <div class="mk__viewTitle">Configuration Management</div>
      <div class="mk__legacyCodes">NSV-8<br/>SV-8</div>
    </a>
      </td>
    </tr>


  </tbody>
</table>


<p><center><a href="http://nafdocs.org/wp-content/uploads/2013/07/Reorganising-MODAF-and-NAF.pdf">Why the grid ?</a></center></p>
