
<table class="naf4-grid">
  <thead>
    <tr>
      <th class="invisible"></th>
      <th>
        <a href="/category/taxonomy">Taxonomy</a>
      </th>
      <th>
        <a href="/category/structure">Structure</a>
      </th>
      <th>
        <a href="/category/connectivity">Connectivity</a>
      </th>
      <th>
        <a href="/category/processes">Processes</a>
      </th>
      <th>
        <a href="/category/states">States</a>
      </th>
      <th>
        <a href="/category/sequences">Sequences</a>
      </th>
      <th>
        <a href="/category/information">Information</a>
      </th>
      <th>
        <a href="/category/constraints">Constraints</a>
      </th>
      <th>
        <a href="/category/roadmap">Roadmap</a>
      </th>
    </tr>
  </thead>
  <tbody>
    

    <tr>
      <td></td>
      <td>
        <p class="connector label-service"><a href="c1-s1">C1-S1 (NSOV-3)</a></p>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    
    <!-- Services -->

    <tr class="viewpoint service">
      <td class="label label-service">Service
        <br /><small>Specifications</small></td>
      <td>
        <a href="s1">S<suffix>1</suffix>
      <div class="mk__viewTitle">Service Taxonomy</div>
      <div class="mk__legacyCodes">NAV-2, NSOV-1<br/>AV-2, SOV-1</div>
    </a>
      </td>
      <td class="notmodelkind"></td>

      <td>
        <a href="s3">S<suffix>3</suffix>
      <div class="mk__viewTitle">Service Interfaces</div>
      <div class="mk__legacyCodes">NSOV-2<br/>SOV-2</div>
    </a>
      </td>
      <td>
        <a href="s4">S<suffix>4</suffix>
      <div class="mk__viewTitle">Service Functions</div>
      <div class="mk__legacyCodes">NSOV-3<br/>SOV-5</div>
    </a>
      </td>
      <td>
        <a href="s5">S<suffix>5</suffix>
      <div class="mk__viewTitle">Service States</div>
      <div class="mk__legacyCodes">NSOV-4b<br/>SOV-4b</div>
    </a>
      </td>
      <td>
        <a href="s6">S<suffix>6</suffix>
      <div class="mk__viewTitle">Service Interactions</div>
      <div class="mk__legacyCodes">NSOV-4c<br/>SOV-4c</div>
    </a>
      </td>
      <td>
        <a href="s7">S<suffix>7</suffix>
      <div class="mk__viewTitle">Service I/F Parameters</div>
      <div class="mk__legacyCodes">NSOV-2<br/>SOV-2</div>
    </a>
      </td>
      <td>
        <a href="s8">S<suffix>8</suffix>
      <div class="mk__viewTitle">Service Policy</div>
      <div class="mk__legacyCodes">NSOV-4a<br/>SOV-4a</div>
    </a>
      </td>
      <td>
        <a href="sr">S<suffix>r</suffix>
      <div class="mk__viewTitle">Service Roadmap</div>
      <div class="mk__legacyCodes"></div>
    </a>
      </td>
    </tr>


  </tbody>
</table>

