---
# Only the main Sass file needs front matter (the dashes are enough)
---

/* Open Sans Latin fragment taken from
      https://gist.github.com/synthtech/2661dbf229802b01a08f
*/

@charset "utf-8";

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'),
    url(https://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
    text-rendering: optimizeLegibility !important;
}
