/* NAF 4 Grid Styles */

// NAF Colors 

$naf-green:  #9dbb61;
$naf-purple: #927aad;
$naf-blue:   #6290e6;
$naf-brown:  #f3b701;
$naf-grey:   #666;
$naf-yellow: #ff0;

$concept-color:      $naf-green;
$service-color:      $naf-purple;
$logical-color:      $naf-blue;
$physical-color:     $naf-brown;
$deploy-color:       $naf-grey;
$architecture-color: $naf-yellow;

.concept {
  color: $concept-color;
}

.service {
  color: $service-color;
}

.logical {
  color: $logical-color;
}

.physical {
  color: $physical-color;
}

.deploy {
  color: $deploy-color;
}

.architecture {
  color: $architecture-color;
}

// Standard reset

* {
  margin: 0;
  padding: 0;
}

html {
    box-sizing: border-box;
}


// Grid definition

ul.naf4-grid {
  display: grid;
  grid-template-columns: repeat(3, 106px) 17px repeat(7, 106px);
  grid-gap: 4px 4px;
  list-style: none;
  margin: 1rem 0 0 1rem;
}

// Grid locations

.behaviour {
  grid-column: 6 / 9;
}


.taxonomy {
  grid-column: 2;
}


.label {
  grid-column: 1;
  display: flex;
  align-items: center;
 }

.label div {
  width: 100%; // ensure that small labels such as concept are also are also centered horizontally
  text-align: center;
}

.c7 {
  grid-column: 9;
}


.connectivity  {
  grid-column: 5;
}

.l2-l3 {
  grid-column: 4;
}

.dr {
  grid-column: 11;
}


.c1-s1 {
  grid-column: 2;
}


.l4-p4 {
  grid-column: 6;
}


.break {
  grid-column: 1 / 11;
  border: 0;
  margin-top: -15px;
}


// Grid markup

li.header, li.header a, li.header a:hover {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  background-color: #aaa;
  color: white;
  border: 2px solid #aaa;
}


li {
  font-size: 20px;
  padding: 4px;
  vertical-align: top;
  text-align: right;
  border-width: 2px;
  border-style: solid;
}


li a {
  text-decoration: none;
  color: inherit;
}


// Hoovering on nomal Model Kind cells

li:hover {
  color: #fff;
}


li.concept:hover {
  background-color: $concept-color;
}


li.service:hover {
  background-color: $service-color;
}


li.logical:hover {
  background-color: $logical-color;
}


li.physical:hover {
  background-color: $physical-color;
}


li.deploy:hover {
  background-color: $deploy-color;
}


li.architecture:hover {
  background-color: $architecture-color;
  color: black;
}


// Normal labels

li.label {
  height: 88px;
  padding: 4px;
  font-size: 14px;
  line-height: 100%;
  color: white;
}


.label-concept {
  background-color: $concept-color;
  border-color: $concept-color;
}


.label-service {
  background-color: $service-color;
  border-color: $service-color;
}


.label-logical {
  background-color: $logical-color;
  border-color: $logical-color;
}


.label-physical {
  background-color: $physical-color;
  border-color: $physical-color;
}


li.label-deploy {
  background-color: $deploy-color;
  border-color: $deploy-color;
}


li.label-architecture {
  background-color: $architecture-color;
  border-color: $architecture-color;
  color: black;
}


// Labels  on hoover

li.label:hover {
  background-color: white;
}


.label-concept:hover {
  color: $concept-color;
}


.label-service:hover {
  color: $service-color;
}


.label-logical:hover {
  color: $logical-color;
}


.label-physical:hover {
  color: $physical-color;
}


.label-deploy:hover {
  color: $deploy-color;
}


.label-architecture:hover {
  color: black;
}


// Model Kind markup

.mk__viewTitle {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 12px;
  text-align: center;
  color: #000;
}


.mk__legacyCodes {
  font-size: 9px;
  font-style: italic;
  text-align: center;
}


// Break

.break {
  height: 60px;
}

// Connector

.vconnector, .vconnector a {
  margin-top: -4px;
  margin-bottom: -4px;
  padding: 2px;
  font-size: 9px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.hconnector, .hconnector a {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding: 4px;
  font-size: 9px;
  color: white;
  margin-left: -4px;
  margin-right: -4px;
}


li.tooBright {
  color: black;
  border-color: $architecture-color;
}
