$naf-green:  #9dbb61;
$naf-purple: #927aad;
$naf-blue:   #6290e6;
$naf-brown:  #f3b701;
$naf-gray:   #666;
$naf-yellow: #ff0;

$concept-color:      $naf-green;
$service-color:      $naf-purple;
$logical-color:      $naf-blue;
$physical-color:     $naf-brown;
$deploy-color:       $naf-gray;
$architecture-color: $naf-yellow;
